<main>
    <div class="container">
        {{#if manageCurriculums}}
            <div class="table-first-head">
                <h1>المناهج</h1>
            </div>
            <div class="add">
                <input type="submit" value="أضف منهج" class="btn first-btn" id="open-ap-btn">
            </div>
            <div class="add-popup">
                <div class="head">
                    <i class="fa-solid fa-xmark" onclick="closeForm();"></i>
                    <h1>أدخل منهج جديد</h1>
                </div>
                <div class="body">
                    <form onsubmit="return false;" id="add-form">
                        <input type="text" class="text-input" id="title-input" placeholder="أدخل العنوان" required>
                        <br>
                        <input type="submit" value="أضف المنهج" class="btn second-btn" id="add-btn">
                        <div class="alert alert-error" id="add-error" role="alert" style="display: none;"></div>
                    </form>
                </div>
            </div>
        {{else if manageSections}}
            <div class="table-first-head">
                <i class="fa-solid fa-arrow-right"></i>
                <h1>الأقسام</h1>
            </div>
            <div class="add">
                <input type="submit" value="أضف قسم" class="btn first-btn" id="open-ap-btn">
            </div>
            <div class="add-popup">
                <div class="head">
                    <i class="fa-solid fa-xmark" onclick="closeForm();"></i>
                    <h1>أدخل قسم جديد</h1>
                </div>
                <div class="body">
                    <form onsubmit="return false;" id="add-form">
                        <input type="text" class="text-input" id="title-input" placeholder="أدخل العنوان" required>
                        <br>
                        <input type="submit" value="أضف القسم" class="btn second-btn" id="add-btn">
                        <div class="alert alert-error" id="add-error" role="alert" style="display: none;"></div>
                    </form>
                </div>
            </div>
        {{else if manageUnits}}
            <div class="table-first-head">
                <i class="fa-solid fa-arrow-right"></i>
                <h1>الوحدات</h1>
            </div>
            <div class="add">
                <input type="submit" value="أضف وحدة" class="btn first-btn" id="open-ap-btn">
            </div>
            <div class="add-popup">
                <div class="head">
                    <i class="fa-solid fa-xmark" onclick="closeForm();"></i>
                    <h1>أدخل وحدة جديدة</h1>
                </div>
                <div class="body">
                    <form onsubmit="return false;" id="add-form">
                        <input type="text" class="text-input" id="title-input" placeholder="أدخل العنوان" required>
                        <br>
                        <input type="submit" value="أضف الوحدة" class="btn second-btn" id="add-btn">
                        <div class="alert alert-error" id="add-error" role="alert" style="display: none;"></div>
                    </form>
                </div>
            </div>
        {{else if manageLevels}}
            <div class="table-first-head">
                <i class="fa-solid fa-arrow-right"></i>
                <h1>المستويات</h1>
            </div>
            <div class="add">
                <input type="submit" value="أضف مستوى" class="btn first-btn" id="open-ap-btn">
            </div>
            <div class="add-popup">
                <div class="head">
                    <i class="fa-solid fa-xmark" onclick="closeForm();"></i>
                    <h1>أدخل مستوى جديد</h1>
                </div>
                <div class="body">
                    <form onsubmit="return false;" id="add-form">
                        <input type="text" class="text-input" id="title-input" placeholder="أدخل العنوان" required>
                        <br>
                        <input type="submit" value="أضف المستوى" class="btn second-btn" id="add-btn">
                        <div class="alert alert-error" id="add-error" role="alert" style="display: none;"></div>
                    </form>
                </div>
            </div>
        {{else if manageLessons}}
            <div class="table-first-head">
                <i class="fa-solid fa-arrow-right"></i>
                <h1>الدروس</h1>
            </div>
            <div class="add">
                <input type="submit" value="أضف درس" class="btn first-btn" id="open-ap-btn">
            </div>
            <div class="add-popup">
                <div class="head">
                    <i class="fa-solid fa-xmark" onclick="closeForm();"></i>
                    <h1>أدخل درس جديد</h1>
                </div>
                <div class="body">
                    <form onsubmit="return false;" id="add-form">
                        <input type="text" class="text-input" id="title-input" placeholder="أدخل العنوان" required>
                        <br>
                        <input type="submit" value="أضف الدرس" class="btn second-btn" id="add-btn">
                        <div class="alert alert-error" id="add-error" role="alert" style="display: none;"></div>
                    </form>
                </div>
            </div>
        {{else if manageContents}}
            <div class="table-first-head">
                <i class="fa-solid fa-arrow-right"></i>
                <h1>المحتوى</h1>
            </div>
            <div class="add">
                <input type="submit" value="أضف محتوى" class="btn first-btn" id="open-ap-btn">
            </div>
            <div class="add-popup">
                <div class="head">
                    <i class="fa-solid fa-xmark" onclick="closeForm();"></i>
                    <h1>أدخل محتوى جديد</h1>
                </div>
                <div class="body">
                    <form onsubmit="return false;" id="add-form">
                        <input type="text" class="text-input" id="content-input" placeholder="أدخل المحتوى" required>
                        <br>
                        <div class="select">
                            <select name="type" id="type">
                                <option value="selecting words">إختيار الكلمات</option>
                                <option value="selecting sign">إختيار الإشارة</option>
                            </select>
                            <span class="arrow"></span>
                        </div>
                        <input type="submit" value="أضف المحتوى" class="btn second-btn" id="add-btn">
                        <div class="alert alert-error" id="add-error" role="alert" style="display: none;"></div>
                    </form>
                </div>
            </div>
        {{/if}}
        <div class="manwordtable">
            {{#if manageCurriculums}}
                <table class="table">
                    <thead>
                        <th class="word-number">رقم</th>
                        <th>العنوان</th>
                        <th>تاريخ التحرير</th>
                        <th class="word-edit-delet">تعديل</th>
                        <th class="word-edit-delet">تحرير</th>
                    </thead>
                    <tbody class="card-content"></tbody>
                </table>
            {{else if manageContents}}
                <table class="table">
                    <thead>
                        <th class="word-number">رقم</th>
                        <th>العنوان</th>
                        <th>الصنف</th>
                        <th class="word-edit-delet">تعديل</th>
                        <th class="word-edit-delet">حذف</th>
                    </thead>
                    <tbody class="card-content"></tbody>
                </table>
            {{else}}
                <table class="table">
                    <thead>
                        <th class="word-number">رقم</th>
                        <th>العنوان</th>
                        <th class="word-edit-delet">تعديل</th>
                        <th class="word-edit-delet">حذف</th>
                    </thead>
                    <tbody class="card-content"></tbody>
                </table>
            {{/if}}
        </div>
        <div class="update-order-container" style="display: none;">
            <button class="btn fourth-btn" id="update-order-btn">تحديث الترتيب</button>
            <div class="alert alert-error" id="update-order-error" role="alert" style="display: none;"></div>
        </div>
        {{#if manageContents}}
            <div class="update-row">
                <div class="head">
                    <i class="fa-solid fa-xmark" onclick="closeForm();"></i>
                    <h1>أدخل المحتوى الجديد</h1>
                </div>
                <div class="body">
                    <form onsubmit="return false;" id="edit-form">
                        <input type="text" class="text-input" id="content-update-input" placeholder="أدخل المحتوى" required>
                        <br>
                        <div class="select">
                            <select name="type-update" id="type-update">
                                <option value="selecting words">إختيار الكلمات</option>
                                <option value="selecting sign">إختيار الإشارة</option>
                            </select>
                            <span class="arrow"></span>
                        </div>
                        <input type="submit" value="تحديث" class="btn second-btn" id="update-row-btn">
                        <div class="alert alert-error" id="edit-error" role="alert" style="display: none;"></div>
                    </form>
                </div>
            </div>
        {{else}}
            <div class="update-row">
                <div class="head">
                    <i class="fa-solid fa-xmark" onclick="closeForm();"></i>
                    <h1>أدخل العنوان الجديد</h1>
                </div>
                <div class="body">
                    <form onsubmit="return false;" id="edit-form">
                        <input type="text" class="text-input" id="title-update-input" placeholder="أدخل العنوان" autocomplete="off" required>
                        <br>
                        <input type="submit" value="تحديث" class="btn second-btn" id="update-row-btn">
                        <div class="alert alert-error" id="edit-error" role="alert" style="display: none;"></div>
                    </form>
                </div>
            </div>
        {{/if}}
        <div class="red-alert" id="dwc">
            <div class="body">
                <i class="fa-solid fa-exclamation"></i>
                <p>هل أنت متأكد تريد الحذف.</p>
                <button class="btn third-btn" id="delete-btn">نعم</button>
                <button class="btn fourth-btn" onclick="closeAlert();">لا</button>
                <div class="alert alert-error" id="delete-error" role="alert" style="display: none;"></div>
            </div>
        </div>
        <div class="red-alert" id="rcc">
            <div class="body">
                <i class="fa-solid fa-exclamation"></i>
                <p>هل أنت متأكد تريد التحرير. لا يمكنك التعديل بعد التحرير.</p>
                <button class="btn third-btn" id="release-btn">نعم</button>
                <button class="btn fourth-btn" onclick="closeAlert();">لا</button>
                <div class="alert alert-error" id="release-error" role="alert" style="display: none;"></div>
            </div>
        </div>
    </div>
</main>
